.navbar-main {
  /* box-shadow: 1px 1px 10px rgb(214, 212, 212); */
  padding: 0.5% 0%;
  border-bottom: 1px ridge rgb(214, 212, 212);
}
.country {
  cursor: pointer;
}
.div-main {
  border-radius: 20px;
}
.search-field {
  z-index: 10000;
  border-radius: 10px;
  border: 1px solid rgb(167, 166, 166);
  width: 50%;
  margin: 0% 2%;
  background-color: #f6f7fb;
}
.search-field input {
  border: none;
  border-radius: 10px;
  background-color: #f6f7fb;
}
.search-field input:hover {
  background-color: white;
}
.search-icon span {
  border: none;
  background-color: transparent;
}
.cart-icon {
  color: gray;
  font-size: 130% !important;
  margin: 0% 10%;
}
.account {
  margin: 0% 2%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  padding: 1% !important;
  height: 40px;
  width: 120px;
  cursor: pointer;
}
.initial {
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #9ea9e0;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5%;
}
.dropdown-menu {
  /* width: 150px; */
  text-align: center;
  display: none;
  z-index: 1;
}
.dropdown-menu a {
  padding: 12px 12px;
  text-decoration: none;
  color: #545455b6;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown::after .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-menu a span {
  margin: 0% 4%;
}
